<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Code Index</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span>Code Search
            </NavLink>
            <NavLink class="nav-link" href="/SearchWithLine" Match="NavLinkMatch.All">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span>Code Search With Line
            </NavLink>
            <NavLink class="nav-link" href="/TokenTest" Match="NavLinkMatch.All">
                <span class="oi oi-project" aria-hidden="true"></span> Token Test
            </NavLink>
            <NavLink class="nav-link" href="/Management" Match="NavLinkMatch.All">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Index Management
            </NavLink>
            <NavLink class="nav-link" href="/Logs" Match="NavLinkMatch.All">
                <span class="oi oi-paperclip" aria-hidden="true"></span> Logs
            </NavLink>
            <a class="nav-link" href="/Swagger" target="_blank">
                <span class="oi oi-document" aria-hidden="true"></span> APIs
            </a>
            <NavLink class="nav-link" href="/About" Match="NavLinkMatch.All">
                <span class="oi oi-info" aria-hidden="true"></span> About
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
