@page "/About"

<div class="row">
    <div class="col">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Source Code</h5>
                <p class="card-text">Find in github</p>
                <a href="https://github.com/qiuhaotc/CodeIndex/" target="_blank" class="btn btn-primary">Github</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Search Syntax</h5>
                <div class="alert alert-primary" role="alert">
                    Fuzzy Match: te*t or tex*
                    <br />
                    Multi Phase Match: "var a = new Dummy();"
                    <br />
                    Match A and B: A and B
                </div>
            </div>
        </div>
    </div>
</div>