@page "/Details/{CodePK}/{IndexPK}"
@page "/Details/{CodePK}/{IndexPK}/{ContentQuery}"
@inject HttpClient Client
@inject CodeIndexConfiguration Config
@inject IndexManagement IndexManagement

<div class="jumbotron">
    <h1 class="display-4">Details For @Source?.FileName</h1>
    <p class="lead">Extension: @Source?.FileExtension | Index Date: @Source?.IndexDate | Last Write Time Utc: @Source?.LastWriteTimeUtc</p>
    <hr class="my-4">
    <p>File Path: <a href="@RazorPageUtils.GetOpenIDEUri(CurrentIndexConfig.OpenIDEUriFormat, Source?.FilePath, CurrentIndexConfig.MonitorFolderRealPath)">@Source?.FilePath</a></p>
    <hr class="my-4">
    <p>Content:</p>
    <p>
        <pre>@((MarkupString)Source?.Content)</pre>
    </p>
</div>

@code {
    [Parameter]
    public string CodePK { get; set; }

    [Parameter]
    public string ContentQuery { get; set; }

    [Parameter]
    public string IndexPK { get; set; }

    IndexConfigForView currentIndexConfig;
    public IndexConfigForView CurrentIndexConfig
    {
        get
        {
            if (currentIndexConfig == null)
            {
                currentIndexConfig = IndexManagement.GetIndexView(new Guid(IndexPK));
            }

            return currentIndexConfig;
        }
    }

    public CodeSource Source { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var result = await Client.PostAsJsonAsync($"{Config.LocalUrl}api/lucene/GetCodeSources",
                new SearchRequest
                {
                    IndexPk = new Guid(IndexPK),
                    CodePK = CodePK,
                    Content = System.Web.HttpUtility.UrlDecode(ContentQuery)
                });

            if (result.IsSuccessStatusCode)
            {
                Source = (await result.Content.ReadFromJsonAsync<FetchResult<IEnumerable<CodeSource>>>()).Result.FirstOrDefault();
            }
            else
            {
                Source = new CodeSource
                {
                    Content = await result.Content.ReadAsStringAsync()
                };
            }
        }
        catch (Exception ex)
        {
            Source = new CodeSource
            {
                Content = ex.Message
            };
        }

        await base.OnInitializedAsync();
    }

    string GetPath(string path)
    {
        if (path != null && path.StartsWith("/monitorfolder") && !string.IsNullOrEmpty(CurrentIndexConfig.MonitorFolderRealPath))
        {
            return CurrentIndexConfig.MonitorFolderRealPath + path.SubStringSafe("/monitorfolder".Length, path.Length);
        }
        else
        {
            return path;
        }
    }
}
