<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CodeIndex.VisualStudioExtension.Properties.CodeIndexSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CodeIndex.VisualStudioExtension.Properties.CodeIndexSettings>
            <setting name="ServiceUrl" serializeAs="String">
                <value>https://codeindex.qhnetdisk.tk/</value>
            </setting>
        </CodeIndex.VisualStudioExtension.Properties.CodeIndexSettings>
    </userSettings>
</configuration>