# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\qiuha\Documents\CodeIndex\src codebase based on best match to current usage at 2020/11/28
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]


#Core editorconfig formatting - indentation

#use soft tabs (spaces) for indentation
indent_style = space
